<h1>Editar Dados Musicais</h1>
<form action="/music/<%= music.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="musicName">Nome da Música</label>
        <input type="text" class="form-control" id="musicName" name="musicName" value="<%= music.musicName %>" required>
    </div>

    <div class="form-group">
        <label for="artist">Artista</label>
        <input type="text" class="form-control" id="artist" name="artist" value="<%= music.artist %>" required>
    </div>

    <div class="form-group">
        <label for="gender">Gênero</label>
        <label for="gender-rock">Rock</label>
        <input type="radio" class="form-control" id="gender-rock" name="gender" value="rock" <% if (music.gender === 'rock') { %> checked <% } %> required>
        
        <label for="gender-pop">Pop</label>
        <input type="radio" class="form-control" id="gender-pop" name="gender" value="pop" <% if (music.gender === 'pop') { %> checked <% } %> required>
        
        <label for="gender-jazz">Jazz</label>
        <input type="radio" class="form-control" id="gender-jazz" name="gender" value="jazz" <% if (music.gender === 'jazz') { %> checked <% } %> required>
        
        <label for="gender-hiphop">Hip-Hop</label>
        <input type="radio" class="form-control" id="gender-hiphop" name="gender" value="hip-hop" <% if (music.gender === 'hip-hop') { %> checked <% } %> required>
        
        <label for="gender-eletronica">Eletrônica</label>
        <input type="radio" class="form-control" id="gender-eletronica" name="gender" value="eletronica" <% if (music.gender === 'eletronica') { %> checked <% } %> required>
        
        <label for="gender-erudita">Erudita</label>
        <input type="radio" class="form-control" id="gender-erudita" name="gender" value="erudita" <% if (music.gender === 'erudita') { %> checked <% } %> required>
        
        <label for="gender-funk">Funk</label>
        <input type="radio" class="form-control" id="gender-funk" name="gender" value="funk" <% if (music.gender === 'funk') { %> checked <% } %> required>
        
        <label for="gender-heavy-metal">Heavy Metal</label>
        <input type="radio" class="form-control" id="gender-heavy-metal" name="gender" value="heavy-metal" <% if (music.gender === 'heavy-metal') { %> checked <% } %> required>
        
        <label for="gender-instrumental">Instrumental</label>
        <input type="radio" class="form-control" id="gender-instrumental" name="gender" value="instrumental" <% if (music.gender === 'instrumental') { %> checked <% } %> required>
        
        <label for="gender-phonk">Phonk</label>
        <input type="radio" class="form-control" id="gender-phonk" name="gender" value="phonk" <% if (music.gender === 'phonk') { %> checked <% } %> required>
        
        <label for="gender-outro">Outro</label>
        <input type="radio" class="form-control" id="gender-outro" name="gender" value="outro" <% if (music.gender === 'outro') { %> checked <% } %> required>
    </div>

    <div class="form-group">
        <label for="album">Álbum</label>
        <input type="text" class="form-control" id="album" name="album" value="<%= music.album %>" required>
    </div>

    <div class="form-group">
        <label for="link_url">Link do Spotify</label>
        <input type="url" class="form-control" id="link_url" name="link_url" value="<%= music.link_url %>" placeholder="https://open.spotify.com/track/..." required>
    </div>

    <button type="submit">Atualizar</button>
</form>
