


<h1>Detalhes de Usuários</h1>
<p>ID: <%= music.id %></p>
<p>Nome: <%= music.nome></p>
<p>Email: <%= music.email %></p>
<p>Gender: <%= music.gender %></p>
<p>DataNasc: <%= music.dataNasc></p>
<p>Senha: <%= music.senha></p>
<a href="/musics">Voltar para lista</a>
